# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

client/test.txt
server/text.txt
client/a/z.txt
client/text.txt
server/a/z.txt
config.user.json
modify_time
.idea
*.log
*.pyc
test.txt
lib/test_json.php

*.exe
ModTimeTable.*
